@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="feature">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Penerimaan CPNS Online</h2>
            </hgroup>
            <p class="well-lg">
	            Ini adalah sample website pendaftaran online penerimaan CPNS
	            dikerjakan oleh :<br/>
				
	            <span class="badge">Reza Pahlawan</span><br/>
	            <span class="badge">Irfi Rizka Syahputri</span><br/>
	            <span class="badge">Andi Surya Wijaya</span><br/>
	            <span class="badge">Khairunisak</span><br/>
            </p>
        </div>
    </section>
}
<h3>Cara menggunakan website:</h3>

<p class="well-lg">
	Anda berpura-pura mendaftar sebagai CPNS.<br/>
	Klik <span class="label label-info">register</span> untuk mendaftar dan klik <span class="label label-info">Log in</span> untuk melihat no ujian.<br/>
	<br/>
	Anda bisa <strong>login sebagai admin untuk melihat Daftar para pelamar</strong> CPNS<br/>
	Untuk login sebagai admin klik login lalu masukkan <i>username : admin</i> dan <i>password : 123456.</i>
</p>

<p>
	Website ini juga mengadopsi responsive webdesign. <br/>
	Jadi website ini bisa dilihat langsung dengan nyaman dari HP (coba resize browser anda, maka webiste juga akan merize secara otomatis).
</p>

