#DIRECTORIES
[Bb]in/
[Oo]bj/
_Resharper.*/
*.Testing/
TestResults/
_Backup/
Backup/
.idea/
#[Tt]emp/
#Migrations/
_UpgradeWizard_Files/
App_Data/

#FILES
#.gitignore


#EXTENSIONS
*.exe
*.dll
*.pdb
*.manifest
*.user
*.suo


#EXCEPTION
!sqlce*.dll