@{
    ViewBag.Title = "Index";
}

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Pengumuman CPNS 2013: Pemerintah Pusat Mau Tiru Lelang Jabatan, Jokowi-Ahok - PPCI
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>Pemerintah pusat berencana melaksanakan seleksi dan promosi jabatan terbuka atau lelang jabatan di kementerian atau lembaga negara untuk pejabat eselon I dan II, khususnya untuk jabatan direktur jenderal, pada tahun depan.Wakil Menteri Pemberdayaan Aparatur Negara dan Reformasi Birokrasi Eko Prasojo mengakui, lelang jabatan tersebut mirip dengan seleksi dan promosi yang digelar Gubernur DKI Jakarta Joko Widodo atau Jokowi untuk lurah dan camat se-Jakarta.

					Menanggapi hal tersebut Jokowi pun mendukung rencana pemerintah pusat itu. “Bagus dong. Menurut saya seleksi dan promosi terbuka butuh keberanian. Lurah camat yang dulu ndak dukung akhirnya dukung semua. Tapi hasilnya nanti, kinerjanya. Kalau baik, kalau saya, yakin lebih baik. Tapi standar baik belum bisa saya pastikan,” ujar Jokowi di Kantor Lurah Cipinang Cempedak, Jakarta.</p>

				<p>Serupa dengan pernyataan Jokowi, Wakil Gubernur DKI Jakarta Basuki Tjahaja Purnama atau Ahok juga menyatakan, lelang jabatan yang akan dilakukan pemerintah pusat merupakan hal yang baik. Sebab sistem seleksi itu sesuai dengan Rancangan Undang-Undang Aparatur Sipil Negara yang masih menunggu pengesahan DPR.

					“Bagus dong, bagus. Harus seperti itu. Karena memang itu kan kerja sama Menpan. Itu inti substansi dari RUU ASN, Aparatur Sipil Negara, yang sampai sekarang masih di Kemendagri, belum dibahas. Kita (Komisi II) buat RUU ASN, di situ ada seleksi promosi terbuka untuk jabatan-jabatan eselon,” kata Ahok.

					Nantinya, Kementerian akan membentuk tim assessment yang beranggotakan menteri, pimpinan lembaga, sekretaris daerah, dan akademisi. Terdapat 3 penilaian utama yang tidak jauh berbeda dari lelang jabatan di DKI, yaitu mengenai pengelolaan manusia, pengelolaan tugas, dan pengelolaan diri sendiri.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					Pengumuman CPNS 2013: Hindari Penyelewengan Anggaran - PPCI
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Upaya meningkatkan kompetensi teknis para bendahara di seluruh Satuan Kerja Perangkat Daerah (SKPD) di Kutai Kartanegara (Kukar), Badan Kepegawaian Daerah (BKD) bekerja sama dengan Badan Pendidikan dan Pelatihan Kaltim menggelar Pelatihan Bendahara Pegawai Negeri Sipil (<a rel="nofollow" title="PNS" href=" http://www.pengumuman-cpns.com">PNS</a>) di Hotel Lizha Tenggarong.</p>
				<p>Hadir pada acara itu, Asisten III Bidang Administrasi Umum Chairul Fadlan, Kepala Badan Kepegawaian Daerah M Ridha Darmawan, Kepala Badan Pendidikan dan Pelatihan Kaltim Syafruddin Pernyata. Kegiatan ini berlangsung selama 14 hari.<br/>Dalam sambutannya, Chairul Padlan mengatakan, program pelatihan ini merupakan bagian yang tidak terpisahkan dengan upaya peningkatan kompetensi teknis para bendahara atau pembantu bendahara di seluruh SKPD di Pemkab Kukar. “Peningkatan kompetensi bendahara menjamin penyelenggaraan pengelolaan keuangan di SKPD dapat berjalan dengan baik dan akuntabilitas,” ungkapnya.<br/>Tuntutan terhadap asas-asas dan prinsip-prinsip perbendaharaan negara merupakan konsekuensi dari proses perbaikan pengelolaan keuangan negara/daerah. Itu untuk upaya mencegah korupsi. Implikasi dari tuntutan tersebut mengharuskan pemerintah daerah mengelola keuangan secara hati-hati dan bertanggung jawab.<br/>“Kenapa di Kukar ini susah sekali membenahi keuangan, padahal rumusnya sama?” ungkapnya.  Ia meminta, para bendahara ketika bekerja jangan atas kebiasaan, tetapi mengikuti peraturan. Bahwa seorang bendahara dituntut untuk memahami secara mendalam mengenai aktivitas atau kegiatan yang berkenaan dengan menerima, menyimpan, dan membayar/menyerahkan uang yang menjadi tanggung jawabnya.<br/>Oleh karenanya, bendahara memiliki tingkat risiko yang cukup tinggi dan dimungkinkan terjadinya penyelewengan atau kecurangan anggaran. Dengan mengacu Undang-Undang Nomor 1 Tahun 2004 mengatur pengelolaan keuangan negara agar dilakukan secara hati-hati, terbuka, dan akuntabilitas. Sebagai bendahara harus mengetahui pembayaran atas beban APBN/APBD tidak boleh dilakukan sebelum barang dan/atau jasa diterima.<br/>Dikatakan, bendahara pengeluaran wajib menolak perintah bayar dari Pengguna Anggaran/Kuasa Pengguna Anggaran apabila persyaratan tidak dipenuhi. “Ditugaskan menjadi bendahara tidak harus takut, asalkan prinsip pengelolaan dapat dipatuhi,” ungkapnya. Menurutnya, penting sekali diklat bendahara dilaksanakan agar dapat meningkatkan kompetensi teknis para bendahara dan bendahara pembantu.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					Pengumuman CPNS 2013: 613.919 Tenaga Honorer K-II Ikuti Tes CPNS 2013 - PPCI
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Sebanyak 613.919 tenaga honorer Kategori II akan mengikuti tes <a rel="nofollow" title="calon pegawai negeri sipil" href=" http://www.pengumuman-cpns.com">calon pegawai negeri sipil</a> (<strong><a rel="nofollow" title="CPNS" href=" http://www.pengumuman-cpns.com">CPNS</a></strong>) pada Oktober nanti. Namun, masih ada instansi yang belum melaporkan uji publiknya. Deputi Informasi Kepegawaian Badan Kepegawaian Negara (BKN) Yulina Setiawan mengatakan, masih ada 21 instansi yang belum melaporkan hasil uji publik dan 41 instansi yang usul penambahan honorernya tidak sesuai aplikasi dan tanpa formulir.</p>
				<p>Melansir situs BKN,  Deputi Bidang Sumber Daya Manusia (SDM) Aparatur Kemenpan &#038; RB Setiawan Wangsaatmaja menjelaskan, alokasi formasi akan diberikan untuk tahun 2013 bila jumlah yang memenuhi passing grade kurang dari jumlah <a rel="nofollow" title="PNS" href=" http://www.pengumuman-cpns.com">PNS</a> yang pensiun pada instansi yang bersangkutan. </p>
				<p>Jika dalam alokasi formasi 2013 dan 2014 jumlah passing grade melebihi jumlah <a rel="nofollow" title="PNS" href=" http://www.pengumuman-cpns.com">PNS</a> yang pensiun pada instansi yang bersangkutan, maka akan dilakukan dengan mendahulukan usia yang lebih tua. Alokasi formasi ini juga tetap memperhatikan presentasi anggaran belanja pegawai dalam APBD.</p>
				<p>Metode tes menggunakan lembar jawaban computer (LJK). Kuota untuk tenaga honorer K2 telah ditetapkan sebanyak 30 persen dari jumlah honorer K2 nasional. Materi tes meliputi Tes Kompetensi Dasar (TKD) dan Tes Kompetensi Bidang (TKB). Penggandaan dan distribusi soal oleh Panitia Pengadaan <strong><a rel="nofollow" title="CPNS" href=" http://www.pengumuman-cpns.com">CPNS</a></strong> Nasional. </p>
				<p>Pelaksanaan tes dilakukan di instansi masing-masing. Untuk kabupaten/kota akan dikoordinasikan  oleh Gubenur. LJK hasil tes disampaikan ke Panitia Pengadaan <strong><a rel="nofollow" title="CPNS" href=" http://www.pengumuman-cpns.com">CPNS</a></strong> Nasional. Penentuan hasil seleksi ditentukan oleh passing grade (nilai ambang batas tertentu) dan diumumkan oleh Menpan dan RB. </p>
			</div>
		</div>
	</div>
</div>