@{
    ViewBag.Title = "Index";
}

<div>
	
	<table width="100%" cellpadding="0" cellspacing="0" align="center">
		<tbody><tr height="200px">
			       <td>
				       <p align="center" style="line-height: 20px;">
					       Salam Reformasi,<br>
					       Terimakasih atas partisipasi anda dengan mengunjungi <em>booth</em> Kementerian Keuangan <br>
					       di Job Fair/Presentasi terdekat di kota anda.<br><br>
					       Bagi yang belum, jangan lewatkan ya :)<br>
				       </p>
			       </td>
		       </tr>
		</tbody></table>

	<!--<p align="center" style="line-height: 20px;"><b>"Mengenal Lebih Dekat Kementerian Keuangan”</b><br />
		    dalam<br />
		    <em>Job Fair</em> Universitas Indonesia 2013</p>-->

	<p align="justify" style="line-height: 20px; text-indent: 0pt;"><em>Championing Reform!</em></p>
	<p align="justify" style="line-height: 20px; text-indent: 0pt;">
		Selain melakukan campaign/sosialisasi, Melalui website ini, diharapkan dapat memberikan informasi terkait proses rekrutmen Kementerian Keuangan, sehingga anda dapat memperoleh pengetahuan yang benar mengenai bagaimana cara untuk bergabung menjadi Calon Pegawai Negeri Sipil (CPNS) Kementerian Keuangan Tahun Anggaran 2013.

		Berikut adalah Tahapan Tes/Seleksi yang harus dilalui oleh setiap pelamar untuk menjadi CPNS Kementerian Keuangan :<br>
	</p><ul>
		    <li style="font-weight:bold" type="1">Pendaftaran Online</li>
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    Bagi yang berminat menjadi CPNS Kementerian Keuangan, dipersilahkan melakukan pendaftaran online dengan klik website http://rekrutmen.depkeu.go.id sampai dengan batas waktu pendaftaran yang telah ditentukan. Pada Tahun Anggaran 2013 ini Kementerian Keuangan berencana menyelenggarakan rekrutmen di 15 (lima belas) kota besar di seluruh Indonesia yaitu Banda Aceh, Medan, Padang, Palembang, Jakarta, Yogyakarta, Surabaya, Pontianak, Banjarmasin, Balikpapan, Makassar, Manado, Denpasar, Kupang, dan Jayapura.<br>
			    <u>Mengapa pendaftaran secara online?</u>
		    </p><ul>
			        <li type="square" style="line-height: 20px; text-align:justify;">
				        Tujuannya adalah memastikan bahwa setiap pelamar yang memenuhi persyaratan tertentu akan mendapatkan satu nomor registrasi pendaftaran yang memuat informasi nama lengkap, tanggal lahir dan jenis kelamin, sehingga diharapkan tidak terjadi duplikasi pendaftaran pelamar.
			        </li>
		        </ul>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>    
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah pendaftaran online, maka pelamar berhak mengikuti seleksi administrasi dengan cara mengirimkan berkas administrasi yang ditentukan melalui POS.
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>	
		    <li style="font-weight:bold" type="1"><strong>Seleksi Administrasi Intranet</strong></li>
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;"><u>Apa yang dimaksud dengan Seleksi Administrasi Intranet</u><br>
			    Dalam rekrutmen Tahun Anggaran 2013 ini Seleksi Administrasi Intranet dilakukan untuk memverifikasi berkas yang diunggah oleh pelamar (<em>upload</em>  berkas) dengan persyaratan administrasi yang ditetapkan, jika memenuhi dan sesuai dengan data yang dimasukkan saat pendaftaran online, maka yang bersangkutan dinyatakan lulus seleksi administrasi dan berhak mengikuti tahapan tes selanjutnya. Berikut adalah <strong>berkas</strong> persyaratan administrasi yang harus diunggah oleh pelamar, yaitu:
		    </p><ul style="line-height: 20px; text-indent: 0pt; text-align:justify">
			        <li type="a">File hasil scan ijazah berjenis PDF File, dengan ukuran maksimal 300 Kb;</li>
			        <li type="a">File hasil scan transkrip nilai berjenis PDF File, dengan ukuran maksimal 300 Kb;</li>
			        <li type="a">File Foto Pelamar berjenis JPG File, dengan ukuran 400 Kb.</li>
		        </ul>
		    <p></p>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>    
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah Seleksi Administrasi,  pelamar  yang lolos akan diumumkan melalui pengumuman di website, selanjutnya pelamar tersebut berhak mendapatkan Tanda Peserta Ujian.
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>	
		    <p></p>
		    <br>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               <strong>- Pengambilan Tanda Peserta Ujian (TPU) -</strong><br>  
						               Pada saat pengambilan TPU, pelamar harus membawa berkas asli (Ijazah, transkrip, Kartu Identitas, Bukti Pendaftaran), untuk mengetahui keabsahan berkas yang sudah dikirimkan pada saat seleksi administrasi.<br>
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>

		    <li style="font-weight:bold" type="1"><strong>Tes Kompetensi Dasar</strong></li>
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    <u>Apakah itu Tes Kompetensi Dasar?</u><br>
			    Tes Kompetensi Dasar adalah tes yang diselenggarakan untuk mengukur kemampuan dasar yang diperlukan untuk menunjang keberhasilan seseorang jika yang bersangkutan bekerja atau memangku jabatan sebagai Pegawai Negeri Sipil. Materi Tes Kompetensi Dasar sebagaimana diatur dalam Peraturan Kepala Badan  Kepegawaian Negara (BKN) Nomor 9 Tahun 2012 Tentang Pedoman Pelaksanaan Pengadaan Calon Pegawai Negeri Sipil, yang meliputi:</p>
		    <ul style="line-height: 20px; text-indent: 0pt; text-align:justify;">
			    <li type="a">Tes Wawasan Kebangsaan (TWK)</li> 
			    untuk menilai kompetensi pelamar dalam hal penguasaan pengetahuan dan kemampuan mengimplementasikan nilai-nilai 4 (empat) Pilar Kebangsaan Indonesia yang meliputi:
			    <ul>
				    <li type="circle">Pancasila;</li>
				    <li type="circle">Undang Undang Dasar 1945;</li>
				    <li type="circle">Bhinneka Tunggal Ika;</li>
				    <li type="circle">Negara Kesatuan Republik Indonesia (sistem tata Negara Indonesia, baik pada pemerintah pusat maupun pemerintahdaerah, sejarah perjuangan bangsa, peranan Bangsa Indonesia dalam tatanan regional maupun global, dan kemampuan berbahasa indonesia secara baik dan benar).</li>
			    </ul>
			    <li type="a">Tes Intelegensi Umum (TIU) </li>
			    Untuk menilai kompetensi pelamar dalam hal kemampuan verbal, kemampuan numerik, kemampuan logika, serta kemampuan analisis. <br>
			    Berikut adalah definisinya:
			    <ul>
				    <li type="1">Kemampuan Verbal</li>
				    yaitu kemampuan menyampaikan informasi secara lisan maupun tertulis.
				    <li type="1">Kemampuan Numerik</li>
				    yaitu  kemampuan  melakukan  operasi perhitungan  angka  dan  melihat  hubungan  diantara  angka-angka.
				    <li type="1">Kemampuan  Berpikir Logis</li>
				    yaitu  kemampuan  melakukan penalaran secara runtut dan sistematis.
				    <li type="1">Kemampuan  Berpikir Analitis</li>
				    yaitu  kemampuan  mengurai suatu permasalahan secara sistematik. 
			    </ul>
			    <li type="a">Tes Karakteristik Pribadi (TKP)</li>
			    Untuk menilai kompetensi pelamar yang terkait:
			    <ul>
				    <li type="circle">Integritas diri;</li>
				    <li type="circle">Semangat berprestasi;</li>
				    <li type="circle">Kreativitas dan inovasi;</li>
				    <li type="circle">Orientasi pada pelayanan;</li>
				    <li type="circle">Orientasi kepada orang lain;</li>
				    <li type="circle">Kemampuan beradaptasi;</li>
				    <li type="circle">Kemampuan mengendalikan diri;</li>
				    <li type="circle">Kemampuan bekerja mandiri dan tuntas;</li>
				    <li type="circle">Kemauan dan kemampuan belajar berkelanjutan;</li>
				    <li type="circle">Kemampuan bekerja sama dalam kelompok, dan</li>
				    <li type="circle">Kemampuan menggerakkan dan mengkoordinir orang lain.</li>
			    </ul>
		    </ul>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah Tes Kompetensi Dasar,  pelamar  yang lolos akan diumumkan melalui pengumuman di website, selanjutnya pelamar tersebut berhak mengikuti Psikotes.
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>

		    <li style="font-weight:bold" type="1"><strong>Psikotes</strong></li>
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    Bagaimanakah psikotes pada seleksi tahap ini?<br>
			    Psikotes diselenggarakan untuk memeriksa psikologis pelamar yang akan menjadi CPNS Kementerian Keuangan, dimana aspek yang diukur adalah :
		    </p><ul style="line-height: 20px; text-indent: 0pt;">
			        <li type="a">Intelegensi;</li>
			        <li type="a">Emosi; dan </li>
			        <li type="a">Sikap Kerja.</li>
		        </ul>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah Psikotes,  pelamar  yang lolos akan diumumkan melalui pengumuman di website, selanjutnya pelamar tersebut berhak mengikuti Tes Kesehatan dan Kebugaran.
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>
    
		    <li style="font-weight:bold" type="1"><strong>Tes Kesehatan dan Kebugaran</strong></li>
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    <u>Mengapa perlu tes ini?</u><br>
			    Kemampuan dan kesiapan jasmani merupakan salah satu unsur yang perlu dimiliki oleh CPNS yang diharapkan dapat mengisi kebutuhan sumber daya manusia di lingkungan Kementerian Keuangan. Untuk memperoleh CPNS dengan kualifikasi fisik yang memadai, terhadap CPNS perlu dilakukan pengujian kemampuan fisik melalui Tes Kesehatan dan Kebugaran.<br>
			    <u>Apakah yang tujuan Tes Kebugaran dan Kesehatan?</u>
		    </p><ul style="line-height: 20px; text-indent: 0pt;">
			        <li type="square">Tes Kesehatan dilakukan dengan tujuan untuk mendapatkan gambaran umum tentang kondisi kesehatan, kemampuan fungsi alat indra tubuh dan daya gerak normal dari anggota tubuh yang terdiri atas tangan dan kaki, dengan tujuan untuk dapat ditetapkan CPNS yang memenuhi standar kesehatan fisik yang ditentukan.</li>
			        <li type="square">Tes Kebugaran dilakukan dengan maksud untuk mendapatkan gambaran umum tentang kekuatan dan tenaga, daya tahan, kesiapan dan kelincahan jasmani CPNS dalam melakukan aktivitas fisik dengan tujuan untuk dapat ditetapkan CPNS yang memenuhi standar kemampuan kesigapan jasmani yang ditentukan.</li>
		        </ul>
		    <p></p>    
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    <u>Bagaimana bentuk tes yang dilakukan?</u>
		    </p><ul style="line-height: 20px; text-indent: 0pt;">
			        <li type="square">Tes Kesehatan dilakukan dengan pemeriksaan kesehatan <em>(medical-checkup)</em> oleh tim dokter yang bertugas di lokasi Tes Kesehatan;</li>
			        <li type="square">Tes Kebugaran dilakukan dengan uji fisik, yaitu lari <em>marathon</em> dan <em>sprint</em>.</li>
		        </ul>
		    <p></p>    
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah Tes Kesehatan dan Kebugaran, pelamar yang lolos akan diumumkan melalui pengumuman di website, selanjutnya pelamar tersebut berhak untuk mengikuti Wawancara <br>    
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>
    

		    <li style="font-weight:bold" type="1"><strong>Wawancara (Khusus Pelamar yang berpendidikan Sarjana S1 dan S2)</strong></li>     
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    Apa yang membedakan tes ini dengan tes lainnya?
		    </p><ul style="line-height: 20px; text-indent: 0pt;">
			        <li type="square">Metode yang digunakan pada tahap seleksi ini adalah Wawancara Berbasis Kompetensi, yang merupakan teknik wawancara yang terstruktur dan bersifat menggali untuk mencari, mengumpulkan dan menguji bukti kompetensi kandidat.</li>
		        </ul>
		    <p></p>

		    <center>Congratulation!</center>
		    <p align="center" style="line-height: 20px; text-indent: 30pt;">
		    </p><table class="biru" width="100%" align="center">
			        <tbody><tr>
				               <td>
					               <p align="center" style="line-height: 20px; color:#FFFFFF;">
						               Setelah mengikuti Wawancara, pelamar yang lolos akan diumumkan melalui pengumuman di website, selanjutnya pelamar berhak mengikuti pemberkasan :)
					               </p>
				               </td>
			               </tr>
			        </tbody></table>
		    <p></p>


		    <li style="font-weight:bold" type="1"><strong>Pemberkasan</strong></li> 
		    <p align="justify" style="line-height: 20px; text-indent: 0pt;">
			    Sesuai dengan Peraturan Pemerintah Nomor 98 Tahun 2000 tentang Pengadaan Pegawai Negeri Sipil sebagaimana telah diubah dengan Peraturan Pemerintah Nomor 11 Tahun 2002, untuk kepentingan pengangkatan sebagai Calon Pegawai Negeri sipil, masing-masing peserta yang dinyatakan lulus wajib melakukan pemberkasan. Pelamar yang dinyatakan Lulus Rekrutmen di lingkungan Kementerian Keuangan, harus melakukan tahapan pemberkasan, yaitu:
		    </p><ul style="line-height: 20px; text-indent: 0pt; text-align:justify">
			        <li type="1">Pemberkasan <em>Online</em></li>
			        dilakukan masing-masing pelamar secara online melalui website;
			        <li type="1">Pemberkasan Fisik</li>
			        Pelamar yang dinyatakan lulus tahapan penyaringan seleksi wajib melapor dengan membawa berkas administratif pemberkasan untuk ditunjukkan dan diverifikasi langsung kepada Panitia Pusat Rekrutmen Kementerian Keuangan di lokasi yang telah ditentukan (Jakarta).<br>
			        Berikut adalah kelengkapan administrasi yang dibutuhkan:
			        <ul>
				        <li type="disc">Fotokopi kartu identitas</li>
				        <li type="disc">Surat lamaran ditulis sendiri, ditandatangani dan dibubuhi materai cukup</li>
				        <li type="disc">Fotokopi ijazah dan transkrip dilegalisir</li>
				        <li type="disc">Surat Keterangan Catatan Kepolisian</li>
				        <li type="disc">Kartu Kuning dari Depnaker/Kantor Dinas</li>
				        <li type="disc">Daftar Riwayat Hidup</li> 
				        <li type="disc">Surat Keterangan Kesehatan dari Dokter Pemerintah/Swasta</li> 
				        <li type="disc">Surat Keterangan Bebas NAPZA</li> 
				        <li type="disc">Pas Photo terbaru</li> 
				        <li type="disc">Bukti masa kerja/pengalaman kerja, jika ada</li> 
				        <li type="disc">Surat pernyataan tentang:
					        <ul>
						        <li type="circle">tidak pernah dihukum penjara atau kurungan berdasarkan keputusan pengadilan yang sudah mempunyai kekuatan hukum yang tetap karena melakukan suatu tindak pidana kejahatan;</li>
						        <li type="circle">tidak pernah diberhentikan dengan hormat tidak atas permintaan sendiri atau tidak dengan hormat sebagai PNS, atau diberhentikan tidak dengan hormat sebagai pegawai swasta;</li>
						        <li type="circle">tidak berkedudukan sebagai Calon/Pegawai Negeri;</li>
						        <li type="circle">bersedia ditempatkan di seluruh wilayah Negara Republik Indonesia atau negara lain yang ditentukan oleh pemerintah;</li>
						        <li type="circle">tidak menjadi anggota dan/atau pengurus partai politik.</li>             
					        </ul>                  
				        </li> 
			        </ul> 
		        </ul>
		    <p></p>    
	    </ul>
	<p align="justify" style="line-height: 20px; text-indent: 0pt;">
		Demikian uraian mengenai proses rekrutmen bagi anda yang ingin bergabung dengan Kementerian Keuangan. Semoga bermanfaat.</p>
	<p align="justify" style="line-height: 20px; text-indent: 0pt;">
		Akhir kata, jangan lupa persiapkan diri anda dan nantikan tips dan trik kami untuk setiap tahapan tes :)<br>
		Salam Reformasi!
	</p>

</div>
